* {
    box-sizing: border-box;
    font-family: monospace;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    border: none;
    margin: 20px;
    width: 300px;
    padding: 13px;
    outline: none;
    border-radius: 7px;
    font-size: 18px;
}

div {
    text-align: center;
    background-color: rgb(246, 246, 246);
    margin: auto;
    display: block;
    width: max-content;
    padding: 25px;
    border-radius: 8px;
}

li {
    font-size: 18px;
}

input[type="checkbox"] {
    transform: scale(1.5);
    cursor: pointer;
    outline: none;
    margin: 10px;
    accent-color: hsl(240, 64%, 49%);
}

button {
    border: none;
    background-color: white;
    color: hsl(240, 64%, 49%);
    padding: 17px;
    width: max-content;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.delete {
    border: none;
    background-color: white;
    color: hsl(0, 66%, 51%);
    padding: 17px;
    width: max-content;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
